:root {
  --footer-height: 120px;
  --primary-color: #FF6F00;
  --secondary-color: #212121;
  --complimentary-color: yellow;
  --navbar-height: 60px;
  --navbar-color: white;
  --text-color: black;
  --spacing: 16px;
}

html {
  font-size: 16px;
}

body {
  min-height: 100dvh;
  min-width: 100vw;
}

.navbar,
.navbar * {
  background-color: var(--navbar-color);
  color: var(--text-color);
}

.active {
  color: red !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --navbar-color: black;
    --text-color: white ;
  }
}