:root {
	--navbar-height: 60px;
	--navbar-color: rgba(255, 255, 255, 0.6);
	--text-color: black;
}



.navbar {
	height: var(--navbar-height);
	background-color: var(--navbar-color);
}

.navbar * {
	color: var(--text-color);
}

.active {
	color: red !important;
}

@media (prefers-color-scheme: dark) {
	:root {
		--navbar-color: rgba(4, 13, 22, 0.6);
		--text-color: white
	}
}